* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.css-video-bg {
    background: url('signinvideo.mp4') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/
body {
    background: url('signinvideo.mp4');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, sans-serif;
    /*background-image: url('image.png');*/
    background-size: cover;
    background-position: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    flex-wrap: wrap; /* Dark overlay */
    text-align: center;
    opacity: 80%;
   
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
   /* border-radius: 10px;*/
    height: 350px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: gray;
}